---
layout: default
permalink: /tags/
title: "Essays by tag"
---

{% include base_path %}
{% assign tags = site.tags | sort %}

<main class="study" role="main" lang="tr">
  <h1 class="study__title">{{ page.title }}</h1>
  <p class="study__meta"><span><a href="{{ base_path }}/blog/">All essays</a></span></p>

  {% for tag in tags %}
    <h2 class="study__year" id="{{ tag[0] | slugify }}">#{{ tag[0] }}</h2>
    <ul class="study__list">
      {% for post in tag[1] %}
        {% include essay-row.html post=post date_format="%d.%m.%Y" %}
      {% endfor %}
    </ul>
  {% endfor %}
</main>
